.amp-ca-homepage {
  overflow: hidden;
  * {
    marign: 0;
    padding: 0;
  }

  .amp-ca-block-wrap {
    overflow: hidden;
  }

  .amp-ca-promo-banner-wrap{
    margin:20px 5px;
  }

  .amp-ca-promo-banner{
    min-width:390px;
  }
}